<% content_for :title do %>Missing Information<% end %>

<h2>General Stats</h2>

<ul>
	<li><%= link_to "No Release", :action => 'release' %></li>
	<li><%= link_to "No Rarity", :action => 'rarity' %></li>
	<li><%= link_to "No Size", :action => 'size' %></li>
</ul>

<h2>3rd Edition</h2>

<ul>
	<li><%= link_to "No Source", :action => 'source' %></li>
	<li><%= link_to "No Type", :action => 'typ' %></li>
	<li><%= link_to "No Subtype", :action => 'subtype' %></li>
	<li><%= link_to "No Challenge Rating", :action => 'cr' %></li>
</ul>

<h2>4th Edition</h2>

<ul>
	<li><%= link_to "No Source", :action => 'source2' %></li>
	<li><%= link_to "No Level", :action => 'level' %></li>
	<li><%= link_to "No Difficulty", :action => 'difficulty' %></li>
	<li><%= link_to "No Role", :action => 'role' %></li>
	<li><%= link_to "No Origin", :action => 'origin' %></li>
	<li><%= link_to "No Type", :action => 'kind' %></li>
</ul>
