<% content_for :title do %>Sourcebooks<% end %>

<table>
  <tr>
	<th>Edition</th>
    <th>Name</th>
    <th>Abbreviation</th>
	<th>Count</th>
  </tr>

<% for source in @sources %>
  <tr>
    <td><span class="abbreviation"><%=h format_edition(source.edition) %></span></td>
    <td><span class="abbreviation"><%= link_to h(source.name), source %></span></td>
    <td><span class="abbreviation"><%=h source.abbreviation %></span></td>
	<td><span class="abbreviation"><%= source.miniatures.size %></span></td>
    <td><%= link_to 'Edit', edit_source_path(source) if is_admin? %></td>
    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete if is_admin? %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New source', new_source_path if is_admin? %>
