<h1>Editing difficulty</h1>

<% form_for(@difficulty) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :xp_multiplier %><br />
    <%= f.text_field :xp_multiplier, :size => 3 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @difficulty %> |
<%= link_to 'Back', difficulties_path %>
